<p id="notice"><%= notice %></p>

<p>
  <b>Invoice Number:</b>
  # <%= @invoice.number %>
</p>

<h2>Seller</h2>
<p class='sellerinfo'>
Mindloop BVBA</br>
Boogbosstraat 33</br>
3560 Lummen </br>
0478636835 </br>
BE-0807147292</br>
KBC 735-0212045-88</br>
</p>

<h2>Billed to</h2>
<p>
<%= @invoice.partner.name %></br>
<%= simple_format h(@invoice.partner.address) %>
<%= @invoice.partner.vat %>
</p>

<h2>Invoice details</h2>
<p>
  <b>Creation date:</b>
  <%= @invoice.creation_date %>
</p>

<p class="duedate">
  <b>Payment due:</b>
  <%= @invoice.payment_date %>
  (
    <%= @invoice.number_of_days %>
  )
</p>


<p>
  <b>Description:</b>
  <%= @invoice.description %>
</p>

<p>
  <b>Total (vat ex.):</b>
  <%= @invoice.total %> 
  <%= @invoice.currency %> 

</p>

<p>
  <b>Vat:</b>
  <%= @invoice.vat_amount %>
  <%= @invoice.currency %> 

  (<%= @invoice.vat %> %)
</p>

<p>
  <b>Total (vat inc.):</b>
  <%=  @invoice.total_amount %>
  <%= @invoice.currency %> 
</p>
<% if !@print  %>
    <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
    <%= link_to 'Back', invoices_path %> |
    <%= link_to 'Print view', invoice_path( @invoice, :print => 1 ) %> 

<% end %>
